<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" ng-app="xmp.app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" ng-app="xmp.app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="xmp.app">
<!--<![endif]-->

<head>
    <title>Metlife</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Icon -->
    <link rel="apple-touch-icon" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/favicon.ico">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://getmetbenefits.com/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://getmetbenefits.com/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/global.css">

    <!-- XMPie CSS library -->
    <link href="deps/xmp/css/xmp.css" rel="stylesheet" media="screen">

    <!-- XMPie XMPL library -->
    <script src="deps/jquery/jquery-1.10.2.min.js"></script>
    <script src="deps/xmp/js/xmp.min.js"></script>
    <script src="xmpcfg.js"></script>
</head>

<body ng-controller="GlobalController">
<div ng-controller="XMPPersonalizedPage" xmp-tracking-page-name="Product Selection" xmp-cloak xmp-turn-off-default-error>

    <div class="global-header" ng-include="'templates/enrollment/enrollment_header.html'"></div>

    <div class="content-white">
        <div class="container">

            <div class="step" ng-include="'templates/enrollment/step.html'"></div>

            <div class="step-info">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <h3 class="header-text">Instructions</h3>
                        <p>Select the option and coverage you wish to enroll in.</p>
                        <h3 class="header-text">Please Note</h3>
                        <p>By selecting the product(s) below you confirm:</p>
                        <ul>
                            <li>I have read my enrollment materials and I request coverage for the benefits for which I am or may become eligible.</li>
                            <li>I understand that contributions are required for the benefits I select below.</li>
                        </ul>
                        <p ng-if="xmp.r['SITUS'] === 'NM'"><strong>This type of plan is NOT considered "minimum essential coverage" under the Affordable Care Act and therefore does NOT satisfy the individual mandate that you have health insurance coverage. If you do not have other health insurance coverage, you may be subject to a federal tax penalty.</strong></p>
                        <p ng-if="xmp.r['SITUS'] === 'CO'">The following additional disclosure is required by New Mexico law: <strong>This type of plan is NOT considered "minimum essential coverage" under the Affordable Care Act and therefore does NOT satisfy the individual mandate that you have health insurance coverage. If you do not have other health insurance coverage, you may be subject to a federal tax penalty.</strong></p>
                        <p ng-if="xmp.r['SITUS'] !== 'CO' && xmp.r['SITUS'] !== 'NM'">The following disclosure is required by New Mexico law: <strong>This type of plan is NOT considered "minimum essential coverage" under the Affordable Care Act and therefore does NOT satisfy the individual mandate that you have health insurance coverage. If you do not have other health insurance coverage, you may be subject to a federal tax penalty.</strong></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <div class="circle" id="circle-1">
                            <div class="circles-wrp" style="position:relative; display:inline-block;">
                                <svg width="76" height="76">
                                    <path fill="transparent" stroke="#d6d6d6" stroke-width="5" d="M 37.99276960126882 2.500000736319244 A 35.5 35.5 0 1 1 37.95069121219846 2.5000342444750316 Z"></path>
                                    <path fill="transparent" stroke="#006ab6" stroke-width="5" d="M 37.99276960126882 2.500000736319244 A 35.5 35.5 0 0 1 37.95726961153701 2.500025716714923 "></path>
                                </svg>
                                <div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:19px; height:76px; line-height:76px;">
                                    <span class="circles-number">0</span>
                                    <span class="circles-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="product_selection" name="product_selection" xmp-update xmp-success-url="{{nextPage.fileName}}" xmp-failure-url="product-selection.html">


                <div class="enrollment-form-panel">
                    <div class="enrollment-form-panel-body">

                        <div class="enrollment-form-panel">
                            <div class="enrollment-form-panel-header">
                                <i class="fa fa-tasks"></i>
                                <h3 class="enrollment-form-panel-title">Please complete the following to begin your online enrollment, and to protect your information.</h3>
                            </div>
                            <div class="enrollment-form-panel-body">
                                <div class="enrollment-form-panel-content">
                                    <div class="form-check-grp">
                                        <label>
                                            <input type="checkbox" id="prod_lp" name="prod_lp" class="user-checkbox" ng-true-value="X" ng-false-value="" xmp-write-ador="xmp.r['PROD_LP']" ng-change="prodLegalUpdate()"/>
                                            <span></span>
                                            <span class="variable-value">{{product_vars.lp_vars.name}}</span>
                                        </label>
                                    </div>
                                    <div class="other-error" ng-if="xmp.r['PROD_AI'] !== 'X' && xmp.r['PROD_HI'] !== 'X' && xmp.r['PROD_CI'] !== 'X' && xmp.r['PROD_LP'] !== 'X'">
                                        <input type="hidden" name="select_product" ng-model="selectProduct" required/>
                                        Please select at least one option.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="enrollment-form-panel" ng-if="xmp.r['PROD_LP'] === 'X'">
                            <div class="enrollment-form-panel-body">
                                <div class="row">
                                    <div class="col-xs-6"><span class="variable-value">{{product_vars.lp_vars.name}}</span></div>
                                    <div class="col-xs-6" style="text-align: right;">Monthly Premium: {{xmp.r["LP_RATE"] | currency}}</div>
                                </div>

                                <div class="enrollment-form-panel-content">

                                    <div class="form-check-grp">
                                        <label>
                                            <input type="checkbox" id="legal_select" name="legal_select" class="user-checkbox" ng-true-value="X" ng-false-value="" xmp-write-ador="xmp.r['MISC10']" ng-change="prodLegalUpdate()"/>
                                            <span></span>
                                            Yes. Please enroll me for the upcoming Plan period 09/01/2020 – 12/31/2020 for $18.42 per month.
                                        </label>
                                    </div>
                                    <div class="other-error" ng-if="xmp.r['MISC10'] !== 'X'">
                                        <input type="hidden" name="legal_select_error" ng-model="legalSelectError" required/>
                                        Required
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="enrollment-form-panel">
                            <div class="enrollment-form-panel-body">
                                <div class="row">
                                    <div class="col-xs-6">&nbsp;</div>
                                    <div class="col-xs-6" style="text-align: right;"><strong>Monthly Total Premium: {{xmp.r["TOTAL_RATE"] | currency}}</strong></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <input type="hidden" xmp-write-ador="xmp.r['LP_RATE']"/>
                <input type="hidden" xmp-write-ador="xmp.r['TOTAL_RATE']"/>

                <input type="hidden" xmp-write-ador="xmp.r['HI_COV']"/>
                <input type="hidden" xmp-write-ador="xmp.r['SAVE_CONT']"/>
                <input type="hidden" xmp-write-ador="xmp.r['PS_STAMP']"/>
                <input type="hidden" xmp-write-ador="xmp.r['PS_PAGE']"/>

                <div class="submit-container">
                    <p style="text-align: right;"><strong>The "continue" button will be enabled once all of the required fields have valid entries.</strong></p>
                    <div class="row">
                        <div class="col-xs-12" style="text-align: right;">
                            <input type="submit" id="btn-submit" class="btn btn-brand-2nd" value="CONTINUE" data-toggle="modal" ng-disabled="product_selection.$invalid" ng-click="xmp.r['PS_STAMP'] = getTimestamp(); xmp.r['PS_PAGE'] = 'X'; loadingModal();" />
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="disclaimer">
        <div class="container">
            <div class="disclaimer-wrapper">
                <p ng-show="xmp.r['PROD_AI'] === 'X' || xmp.r['PROD_CI'] === 'X' || xmp.r['PROD_HI'] === 'X'">{{general_vars.sp_dp_dis}}</p>
          </div>
        </div>
    </div>

    <div class="enrollment-footer"  ng-include="'templates/enrollment/enrollment_footer.html'"></div>

</div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="https://getmetbenefits.com/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="js/jquery.mask.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/moment-timezone-with-data.min.js"></script>

<!-- JS Customization -->
<script src="js/global/global.js"></script>
<script src="js/enrollment/product-selection.js"></script>


<!-- Input Masking -->
<script>
    $("#sp_dob").mask("00/00/0000");
</script>

</body>
</html>